$translucent-black: rgba(0, 0, 0, 0.3);
$off-white2: #fafbfb;
$dark-yellow: #F4D03F;
$dark-yellow-hover: #f8e287;
$cornflower-blue: #6495ed;
$cornflower-blue-hover: #92b4f2;
$tomato: #ff6347;
$tomato-hover: #ff7961;
$mustard: rgba(191, 180, 143, 1);
$purple-brown: rgba(86, 78, 88, 1);
$burgandy: rgba(144, 78, 85, 1);
$beige: rgba(242, 239, 233, 1);
$brown-black: rgba(37, 38, 39, 1);