$translucent-black: rgba(0, 0, 0, 0.3);
$off-white2: #fafbfb;
$dark-yellow: #F4D03F;
$dark-yellow-hover: #f8e287;
$cornflower-blue: #6495ed;
$cornflower-blue-hover: #92b4f2;
$tomato: #ff6347;
$tomato-hover: #ff7961;